html {
  background-image: linear-gradient(#ff8b07, #ff2525);
}

body {
  background-image: url(/img/image-lion-background.png);
  background-repeat: no-repeat;
  background-position: center;
  font-family: Roboto;
  color: white;
  font-size: 1.125rem;
  line-height: 1.5rem;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}
.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 2px solid lightslategray;
}
main {
  min-height: 300px;
  display: flex;
  align-items: center;
}
.main2{
  min-height: 300px;
  padding-top: 50px;
}

.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card1 {
  background-image: url(img/image-background-card1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
}
.card2 {
  background-image: url(img/image-background-card2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
}
.card3 {
  background-image: url(img/image-background-card3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
}

.herobox1 {
  flex: 2;
  margin-right: 50px;
}
.herobox2 {
  flex: 1;
}

nav {
  color: white;
}

h1 {
  font-size: 3.25rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px 5px brown;
}
h2 {
  font-size: 2rem;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
}

p {
  margin-top: 0.5rem;
  line-height: 1.75rem;
}
.cards p {
  font-size: 0.85rem;
  line-height: 1.2rem;
  margin: 10px 30px 20px 30px;
}

.cards i {
  font-size: 100px;
  margin-top: 20px;
}

.mybutton {
  background-color: white;
  color: #ff2525;
  font-family: "Playfair Display", sans-serif;
  padding: 11px 25px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
}

.mybutton:hover {
  background-color: #ff2525;
  color: white;
  transition-duration: 1s;
}
.navbutton {
  font-family: "Playfair Display", sans-serif;
  padding: 11px 25px;
  border: 1px solid white;
  text-align: center;
  display: inline-block;
  position: relative;
}
.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.tbox {
  width: 47%;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;
  margin-top: 50px;
}

/* .tbox :last-child {
  font-size: 0.8rem;
  font-style: italic;
  color: aqua;
} */

/* .tbox p:last-of-type {
  padding-left: 150px;
} */

.dropdownbox {
  display: none;
  position: absolute;
  padding-top: 10px;
  text-align: center;
}

.navbutton:hover .dropdownbox {
  display: block;
}

.dropdownbox .navbutton {
  width: 120px;
  background-color: white;
}
.dropdownbox .navbutton a {
  color: #ff2525;
}
.dropdownbox .navbutton:hover {
  background-color: #e625ff;
}
