html {
  height: 100%;
}

body {
  background-image: linear-gradient(#ffe53b, #ff2525);
  background-repeat: no-repeat;
  font-family: Roboto;
  color: white;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
}
.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
main {
  min-height: 300px;
  display: flex;
  align-items: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card1 {
  background-image: url(img/image-background-card1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
}
.card2 {
  background-image: url(img/image-background-card2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
}
.card3 {
  background-image: url(img/image-background-card3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
}

.herobox1 {
  flex: 2;
  margin-right: 50px;
}
.herobox2 {
  flex: 1;
}

nav {
  color: white;
}

h1 {
  font-size: 3.25rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  text-shadow: 2px 2px 5px brown;
}
h2 {
  font-size: 2rem;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
}

p {
  margin-top: 0.5rem;
  line-height: 1.75rem;
}
.cards p {
  font-size: 0.85rem;
  line-height: 1.2rem;
  margin: 10px 30px 20px 30px;
}

.cards i {
  font-size: 100px;
  margin-top: 20px;
}

.mybutton {
  background-color: white;
  color: #ff2525;
  font-family: "Playfair Display", sans-serif;
  padding: 11px 25px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px turquoise;
}
